@(title: String)(content: Html)(implicit webJarAssets: WebJarAssets)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <!--<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>-->
    <!--<link rel="stylesheet" href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap-theme.min.css"))'>-->
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("css/materialize.min.css"))">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  </head>
  <body>

    <div class="container">
      @content
    </div>
  </body>
  <script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))"></script>
  <!--<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>-->
  <script src="@routes.WebJarAssets.at(webJarAssets.locate("js/materialize.min.js"))"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    $('.collapsible').collapsible();
  </script>
</html>
