@import "components/_color.scss";
@import "components/_variables.scss";
@import "materialize.scss";
@import "components/_typography.scss";

.shopingCart{
    color: red;
    @extend .col;
    @extend .s12;
    @extend .m5;
    @extend .l3;
    @extend .right;
    @extend .container;
    @extend .row;
    i {
        @extend .col;
        @extend .s2;
        @extend .m3;
    };
    span {
        @extend .col;
        @extend .s10;
        @extend .m9;
    };
}

.goods{
    div.card {
        @extend .col;
        @extend .m3;
        @extend .s12;
        @extend .small;
        .card-image {
            @extend .waves-effect;
            @extend .waves-block;
            @extend .waves-light;
        };
        span.card-title {
            @extend .activator;
            @extend .grey-text;
            @extend .text-darken-4;
        };
    };
 };

 .orderItem {
    p {
        display: inline-block;
    };
 };

 .orderedItems{
     @extend .container;
     @extend .row;
     @extend .flow-text;
    .orderRow {
         @extend .row;
         // @extend .flow-text;
         .title, .qnt-price, .total {
            @extend .col;
            @extend .s3;
         };
        .qnt-price {
            font-size: 50%;
        };
        .total {
            font-size: 70%;
        };
        .pic {
            @extend .col;
            @extend .s3;
            @extend .activator;
            @extend .responsive-img;
        };
    };
    .totalText {
        @extend .col;
        @extend .s9;
    };
    .totalAmount {
        @extend .col;
        @extend .s3;
        font-size: 80%;
    };
    .shoppingButtons {
        @extend .col;
        @extend .s12;
    };
};
